html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.side-bar {
  float: left;
  width: 200px;
  height: 100%;
  background-color: #eee;
}
.side-bar {
  padding: 20px 0;
  box-sizing: border-box;
}
.side-bar .item {
  padding: 10px;
}
.side-bar .item a {
  text-decoration: none;
  color: #5c6065;
}
.side-bar .item a:hover {
  color: #4e94ce;
}
.main-content {
  float: left;
  padding-top: 200px;
  width: calc(100% - 200px);
  height: 100%;
}
